<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.getpiccollages1s.cc</key>
		<string>dev_Magic_pro_20200622</string>
	</dict>
	<key>signingCertificate</key>
	<string>2598BC3B31940228DF2557C40B9BFBD54DFDAF68</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>YRFVZ8D4PD</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
